/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --textColor: #fff;
  --accent: #22BFB7;
  --light: #EAEBF0;
  --secondTextColor: #282A36;
  --bgColorPrimary: #282836;
  --bgColorAccent: #323443;
  --dark: #000;
  --bgColorGradOne: #292b3850;
  --bgColorGradTwo: #22c3bb19;
  --font-main: "Raleway", sans-serif;
}

html,
body {
  font-family: var(--font-main);
  color: var(--bgColorPrimary);
}

body {
  height: 5000px;
  padding-top: 60px;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.navigation {
  background-color: var(--dark);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  min-height: 60px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.nav__link {
  color: var(--textColor);
  font-size: 16px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: var(--textColor);
  margin: 5px 0;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav--open {
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 959px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    padding: 10px 0 25px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
  .nav__link {
    font-size: 14px;
  }
  .hamburger {
    display: block;
  }
}
.btn {
  color: var(--accent);
  padding: 8px 20px;
  border: 1px solid var(--accent);
}

.btn__hero {
  padding: 15px 20px;
  color: var(--textColor);
  border: none;
  background-color: var(--accent);
  z-index: 3;
  text-transform: uppercase;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-image: url(../../img/home/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header__content {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 50px;
  padding-bottom: 100px;
  color: var(--textColor);
}

.hero__title {
  z-index: 3;
  font-size: 80px;
  font-weight: 700;
  color: var(--textColor);
}

.description {
  z-index: 3;
  font-size: 20px;
  line-height: 28px;
}

.benefits {
  position: relative;
  padding: 100px 0;
  background-color: var(--bgColorPrimary);
  color: var(--textColor);
}
.benefits::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, rgba(41, 43, 56, 0.5) 0%, rgba(34, 195, 187, 0.15) 100%), center/cover;
  z-index: 1;
}

.benefits__content {
  padding: 0 10px;
  z-index: 11;
  display: grid;
  grid-template-columns: 40% 60%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 959px) {
  .benefits__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.img__wrap {
  z-index: 14;
}

.text__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  z-index: 15;
  padding-right: 30px;
}
@media screen and (max-width: 959px) {
  .text__wrap {
    padding-right: 0;
  }
}

.title-h2 {
  color: var(--accent);
  font-size: 36px;
  font-weight: 700;
}

.text-important {
  font-size: 22px;
  line-height: 28px;
}

.text-content {
  font-size: 16px;
  line-height: 24px;
}

.text-bold {
  font-weight: bold;
}

.features {
  background-color: var(--light);
  padding: 75px 0;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 50px 0 75px 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 749px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__desk {
  line-height: 28px;
}

.testimonials {
  background-color: var(--bgColorPrimary);
  color: var(--textColor);
  padding: 75px 0;
}

.testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.testimonials__img-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.testimonials__text {
  font-size: 24px;
  line-height: 28px;
}

.testimonials__text-autor {
  font-size: 16px;
  line-height: 28px;
  text-align: right;
}

.testimonials__img-batton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.tools {
  position: relative;
  padding: 75px 0;
  background-color: var(--bgColorPrimary);
  color: var(--textColor);
}
.tools::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 43, 56, 0.5)), to(rgba(34, 195, 187, 0.15))), center/cover;
  background: linear-gradient(180deg, rgba(41, 43, 56, 0.5) 0%, rgba(34, 195, 187, 0.15) 100%), center/cover;
  z-index: 1;
}

.tools__title {
  z-index: 16;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.title-h2--wrap {
  z-index: 16;
  max-width: 650px;
}

.tools__cards {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 749px) {
  .tools__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tools__card {
  background-color: var(--bgColorAccent);
  padding: 25px 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 25px;
  z-index: 17;
}

.tools__card-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.tools-desc {
  line-height: 28px;
}

.accordeon-body {
  display: none;
}