.navigation {
  background-color: var(--dark);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-height: 60px;
}

.logo {
  color: var(--textColor);
  transition: all 0.4s;
   &:hover {
    color: var(--accent);
  }
}

.logo-name {
  font-size: 20px;
  font-family: var(--font-logo);
}
.lodo-desk {
  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.6;
}

// .nav {
//   transition: all 0.3s ease-in-out;
// }
.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  color: var(--textColor);
  font-size: 16px;
  transition: all 0.4s;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  height: 2px;
  width: 27px;
  background: var(--textColor);
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@include mediaTablet {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }
}


