.testimonials {
    background-color: var(--bgColorPrimary);
    color: var(--textColor);
    padding: 75px 0;
}

.testimonials__cards {
    display: flex;
    justify-content: center;

}

.testimonials__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
 
}
.testimonials__img-top {
    width: 100%;
    display: flex;
    justify-content: start;
}
.testimonials__text {
    font-size: 24px;
    line-height: 28px;
}
.testimonials__text-autor {
    font-size: 16px;
    line-height: 28px;
    text-align: right;
}
.testimonials__img-batton {
    width: 100%;
    display: flex;
    justify-content: end;
}